# Ignorar arquivos de sistema e IDEs
.DS_Store
.vscode/
.idea/
__pycache__/

# Ignorar ambientes virtuais
venv/
env/

# Ignorar o Dataset (pois é muito grande para o GitHub)
data/cell_images/

# Ignorar arquivos gerados durante a execução (opcional, se quiser salvar os gráficos no git, remova estas linhas)
*.png
